/* src/App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #18122B;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #393053;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

h2 {
  color: white;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

button {
  background-color: #443C68;
  color: white;
  padding: 10px 20px;
  margin: 10px 5px 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #635985;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f8f9fa;
  font-weight: bold;
}

tr:nth-child() {
  background-color: #313131;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.success {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

.form-control {
  display: flex;
  align-items: center;
}

.form-control label {
  flex: 1;
}

.form-control input,
.form-control select {
  flex: 3;
}

.label-div{
  color: white;
  font-size: large;
}


.submissions {
  margin-top: 20px;
}

.submissions ul {
  list-style-type: none;
  padding: 0;
}

.submissions li {
  background: #e9ecef;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
}
